{% extends 'registration\base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign Up</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                        <p class="bs-component">
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                  <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                  <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        </p>
                        <p class="bs-component">
                            <center>
                                <input class="btn btn-success btn-sm" type="submit" value="Sign Up" />
                            </center>
                        </p>
                        <p class="bs-component">
                            <input type="hidden" name="next" value="{{ next }}" />
                        </p>
                    </form>
                </div>
            </div>
            <div class="row">
                <center>Already registered? <a href="{% url 'login' %}">Sign in</a></center>
            </div>
            <br/>
        </div>
    </div>
</div>

{% endblock %}