.angular-block {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	overflow: scroll;
    height: 100px;
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}